      #map {
        height: 100%;
      } 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .infobubble-transparent {
        visibility: hidden;
      }
      #infobubble-container {
       visibility: hidden;
      }
      #slider-container {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
      }
      #ul-slider{
        margin:0; 
        padding:0;
        position: relative;
        list-style:none;
      }
      .li-slider{
        position: relative;
        display: inline-block;
        float: left;
        width:230px;
        height:445px;
      }
      #navlist li{
        display: inline;
        list-style-type: none;
        margin:0px 1px;
      }
      .js-info-bubble-close{
        display: none;
      }
      .thumbnails {
        /*display: none;*/
      }